.receiptContainer {
  width: 600px;
  margin: auto;
  border: 1px solid black;
  padding: 20px 50px;
}

.receiptContainer h1,
.receiptContainer h3 {
  text-align: center;
}

.receiptItem {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  justify-items: end;
  border-bottom: 1px dotted black;
}

.receiptItem p {
  padding: 0px 5px;
}

.receiptTotal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.receiptTotal2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  width: 100%;
}

.receiptTotal2 p {
  font-size: 25px;
}
