.products {
  width: 1100px;
  margin: auto;
  padding: 10px 0px;
}

.productContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-content: center;
  justify-content: center;
  grid-row-gap: 30px;
  cursor: pointer;
}

.productFound {
  margin: 0px 0px 8px 0px;
}

.items {
  border: 1px solid transparent;
  position: relative;
  padding: 10px;
}

.items:hover {
  border: 1px solid lightgrey;
}

.items:hover > button.addToCartButton {
  background-color: rgb(234, 191, 0);
}

.freeShip {
  background-color: black;
  color: white;
  padding: 4px 6px;
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 12px;
}

.blank {
  display: none;
}

.items img {
  width: 250px;
}

.price,
.title {
  text-align: center;
  margin: 12px 0px 0px 0px;
}

.install {
  color: darkgrey;
  margin: 0px 0px 8px 0px;
  text-align: center;
}

p.dash {
  margin: 0;
  text-align: center;
}

.dash svg {
  color: rgb(234, 191, 0);
  font-size: 40px;
  margin: -8px;
}

.productContainer div button {
  color: white;
  width: 100%;
  background-color: black;
  height: 50px;
}

/* sTyling for cart window */
.cartContainer {
  max-height: 67%;
  overflow: scroll;
}

.cartButton {
  background-color: rgb(26, 27, 32);
  color: white;
  width: 60px;
  height: 60px;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: -60px;
  border: none;
  outline: none;
}

.cartButton svg {
  font-size: 40px;
}

.hidden {
  width: 0px;
  background-color: rgb(26, 27, 32);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transition: width 0.7s;
}

.cartHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cartIcon {
  font-size: 40px;
  color: white;
}

.cartHeader h1 {
  color: white;
  padding-left: 10px;
}

.cartWindow {
  background-color: rgb(26, 27, 32);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 35%;
  transition: width 0.7s;
  padding: 40px 10px 0px 10px;
}

.cartItem {
  display: grid;
  grid-template-columns: 60px auto 90px;
  border-top: 1px solid black;
  padding: 20px;
  align-items: center;
}

.cartItem img {
  width: 60px;
}

.titleDiv {
  padding-left: 15px;
}

.cartTitle {
  color: white;
  margin: 0;
}

.cartStyle {
  color: rgb(90, 90, 90);
  margin: 0;
}

.priceDiv {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.cartPrice {
  color: rgb(234, 191, 0);
  font-size: 22px;
  margin: 0;
}

.deleteButton {
  cursor: pointer;
  color: black;
  background-color: rgb(26, 27, 32);
  border: none;
  font-size: 28px;
  font-weight: bold;
}

.deleteButton:hover {
  color: white;
}

.quantityButton {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.subCheckDiv {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: rgb(26, 27, 32);
}

.subTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0px;
}

.subTotal h3 {
  color: rgb(90, 90, 90);
  margin: 0 15px;
  font-size: 22px;
}

.subTotal p {
  padding: 0;
  margin: 0 15px;
}

.checkoutDiv {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.checkout {
  color: white;
  background-color: rgb(15, 15, 15);
  width: 85%;
  font-size: 22px;
  border: none;
  padding: 14px 0px;
  margin: 0px 0px 10px 0px;
  text-transform: uppercase;
}

a,
a button {
  text-decoration: none;
  cursor: pointer;
}

/* .deleteButton:hover > p.cartPrice {
  text-decoration: line-through;
} */
